@font-face {
	src: url(../src/assets/fonts/Poppins-Medium.ttf);
	font-family: "Poppins-Medium";
}

@font-face {
	src: url(../src/assets/fonts/Poppins-SemiBold.ttf);
	font-family: "Poppins-SemiBold";
}

@font-face {
	src: url(../src/assets/fonts/Poppins-Bold.ttf);
	font-family: "Poppins-Bold";
}

@font-face {
	src: url(../src/assets/fonts/Poppins-Regular.ttf);
	font-family: "Poppins-Regular";
}
@font-face {
	src: url(../src/assets/fonts/Poppins-Light.ttf);
	font-family: "Poppins-Light";
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	overflow: hidden;
	background-color: #f2f2f2 !important;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-y: auto;
	position: relative;
}
:root {
	--bluetype-background-color: #146dfa;
	--heading-color: #292929;
	--heading1-color: #fbfcfd;
	--bold-font-family: "Poppins-Bold";
	--medium-font-family: "Poppins-Medium";
	--regular-font-family: "Poppins-Regular";
	--light-font-family: "Poppins-Light";
	--semibold-font-family: "Poppins-SemiBold";
}
h1 {
	font-family: var(--bold-font-family);
	font-size: clamp(40px, 5vw, 50px);
	line-height: 1;
	color: var(--heading1-color);
}

h2 {
	font-family: var(--bold-font-family);
	font-size: clamp(25px, 5vw, 40px);
	line-height: 1.2;
	color: var(--heading-color);
}
h3 {
	font-family: var(--bold-font-family);
	font-size: clamp(25px, 5vw, 50px);
	line-height: 1.2;
	color: var(--heading-color);
}

h4 {
	font-family: var(--regular-font-family);
	font-size: clamp(20px, 5vw, 35px);
	line-height: 1.2;
	color: var(--heading-color);
}

h5 {
	font-family: var(--medium-font-family);
	font-size: clamp(20px, 5vw, 22px);
	line-height: 1.2;
	color: var(--heading1-color);
}

h6 {
	font-family: var(--semibold-font-family);
	font-size: clamp(18px, 5vw, 30px);
	line-height: 1.2;
}
.span {
	font-family: var(--medium-font-family);
	line-height: 1.2;
}
p {
	font-family: var(--regular-font-family);
	font-size: clamp(12px, 5vw, 15px);
	line-height: 1.3;
	color: var(--heading1-color);
}
.btn {
	background: var(--bluetype-background-color);
	color: #ffffff !important;
	border-radius: 20px;
	width: 22%;
	text-align: center;
	padding: 7px 0;
	font-family: var(--medium-font-family);
	font-size: 16px;
}
a {
	cursor: pointer;
	text-decoration: none !important;
}
.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: none;
}
a.active {
	color: var(--bluetype-background-color) !important;
	font-family: var(--regular-font-family);
	font-size: 16px;
}
:focus-visible {
	outline: none;
}
li {
	list-style: none;
}
ul {
	padding: 0 !important;
	margin: 0;
}
.form-footer input:focus {
	outline: none;
	box-shadow: none;
	background: transparent;
}
.btn {
	background: var(--bluetype-background-color) !important;
	color: #ffffff !important;
	border-radius: 20px !important;
	width: 37%;
	text-align: center !important;
	padding: 7px 0 !important;
	font-family: var(--medium-font-family) !important;
	font-size: 16px !important;
}
.navbar-wrapper {
	text-align: center;
}
.navbar-wrapper ul li a {
	padding: 0px 20px;
	font-family: "Poppins-Medium";
	font-size: 18px;
	color: #fff;
}
section.header {
	padding: 30px;
}
.btn-wrapper {
	text-align: end;
	width: 100%;
}
section.banner {
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}
section.header {
	padding: 30px;
	position: absolute;
	width: 100%;
}
.heading-banner {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100vh;
}
.img-right-banner-mobile img {
	width: 100%;
	height: 540px;
	object-fit: scale-down;
}
img.img-fluid.img-wrapper.img-wrpa {
	margin-top: 120px;
}
.marina-slider-content * {
	color: #000;
}
.position-wrapper {
	position: absolute;
	top: 50px;
	right: -70px;
}
.position-wrapper img.img-fluid {
	width: 100%;
	height: 470px;
	object-fit: scale-down;
}
a.anchor-read-me {
	color: #146dfa;
	text-decoration: underline !important;
	font-family: "Poppins-Medium";
}
.play-wrapper {
	background: #146dfa;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.now-playing h5 {
	color: #146dfa;
	font-family: "Poppins-Medium";
	font-size: 16px;
	margin-bottom: 0;
}
.now-playing h4 {
	font-family: "Poppins-Medium";
	font-size: 18px;
	margin-top: 5px;
}
.play-content {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 30px;
	background: #d9d9d9;
	padding: 12px 30px;
	border-radius: 10px;
	margin: 5px;
}
/* styles.css */
section.discover-sec {
	background: #d9d9d9;
	padding: 51px 0 80px 0;
}
.section.application-download-sec {
	padding: 70px 0;
}

.slider-vertical-play.sliderverticalplay .slider {
	width: 100%;
	margin: 0 auto;
}

.slider-vertical-play.sliderverticalplay .slider img {
	width: 100%;
	height: auto;
}

.slider-vertical-play.sliderverticalplay .slick-slide {
	transform: scale(0.9);
	transition: transform 0.5s ease;
	opacity: 0.5;
}

.slider-vertical-play.sliderverticalplay
	.slick-slide.slick-active.slick-current {
	transform: scale(1) !important;
	opacity: 1;
}
section.application-download-sec {
	padding: 120px 0;
}
.content-discover h5 {
	color: #000;
	font-family: "Poppins-SemiBold";
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.5;
	height: 50px;
}
.content-discover p {
	color: #000;
}
.content-discover img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	background: #146dfa;
	object-fit: scale-down;
}
.content-discover {
	text-align: center;
	padding: 0px 20px;
}
section.faqs {
	padding: 60px 0;
}
.question {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	transition: transform 0.3s;
}

.expanded .arrow {
	transform: rotate(90deg);
}

.expanded .answer {
	display: block;
}
.faq-item {
	background: #d9d9d9;
	border-radius: 10px;
	margin: 16px;
	padding: 15px;
	position: relative;
}
.faq-item:after {
	content: "";
	background-image: url(/src/assets/img/arrowfaqs.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	position: absolute;
	right: 20px;
	top: 26px;
	height: 10px;
	width: 18px;
}
.faq-item span {
	font-family: "Poppins-Medium";
	font-size: 20px;
}
.answer {
	margin-top: 10px;
	color: #000;
	padding: 10px 70px 0 0;
}
.testemonial-content h5 {
	font-family: "Poppins-SemiBold";
	color: #000;
	margin-bottom: 0;
	font-size: 20px;
}
.testemonial-content h6 {
	color: #afafaf;
	font-size: 16px;
}
.testemonial-content h4 {
	color: #afafaf;
	font-size: 16px;
}
.testemonial-content p {
	color: #000;
	margin-bottom: 0;
	margin-top: 16px;
}
section.slider-sec {
	margin-top: 10px;
	margin-bottom: 50px;
}
.testemonial-content {
	background: #d9d9d9;
	padding: 39px;
	border-radius: 20px;
}
section.have-a-look-sec .slider {
	width: 100%;
	margin: 0 auto;
}

section.have-a-look-sec .slider img {
	width: 100%;
	height: auto;
}

section.have-a-look-sec .slick-slide {
	transform: scale(0.9);
	transition: transform 0.5s ease;
	opacity: 0.5;
}

section.have-a-look-sec .slick-slide.slick-active.slick-current {
	transform: scale(1) !important;
	opacity: 1;
}
/* Styling for the dot container */
section.have-a-look-sec ul.slick-dots {
	display: block;
	/* Define vertical alignment */
	vertical-align: middle;
}

/* Styling for individual dots */
section.have-a-look-sec ul.slick-dots li {
	/* Define width and height */
	width: 10px;
	height: 10px;
	/* Define margin between dots */
	margin: 0 5px;
	/* Define border radius for rounded dots */
	border-radius: 50%;
	/* Define default background color */
	background-color: #c0c0c0; /* Light gray */
}

/* Styling for active dot */
section.have-a-look-sec ul.slick-dots li.slick-active {
	/* Define active dot background color */
	background-color: #fbbc05; /* Yellow */
}
section.have-a-look-sec .slick-dots li button:before {
	font-family: "slick";
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: "•";
	text-align: center;
	opacity: 0.25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: none;
}
section.have-a-look-sec ul.slick-dots {
	display: flex !important;
	gap: 10px;
	flex-direction: column;
	position: absolute;
	top: 54%;
	left: -20px;
}
section.have-a-look-sec {
	position: relative;
}
section.have-a-look-sec {
	padding: 100px 0;
}
.header {
	background-color: transparent; /* Set initial background color */
	transition: background-color 0.3s ease;
}

.header.scrolled {
	background-color: white; /* Change background color on scroll */
}
footer {
	background: #212121;
	padding: 120px 0;
}
.form-control:focus {
	color: #fff;
	background-color: transparent;
	border-color: none;
	outline: 0;
	box-shadow: none;
}
.footer-content h3 {
	color: #fff;
	font-size: 35px;
	font-family: "Poppins-Bold";
}
.list-url-footer ul li {
	display: flex;
	flex-direction: column;
}
.list-url-footer ul li a {
	color: #fff;
	font-family: "Poppins-Medium";
	font-size: 16px;
}
.list-url-footer h5 {
	margin-bottom: 20px;
}
a.btn.gold {
	background: #ffbb0e !important;
	width: 122px;
}
.list-url-footer input#formBasicEmail {
	background: transparent;
	border-radius: 20px;
	padding: 10px;
}
.list-url-footer input#formBasicEmail::placeholder {
	color: #fff;
	font-family: "Poppins-Medium";
	font-size: 14px;
}
.list-url-footer {
	margin-top: 10px;
}

div#top-nav {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-list.navbar-wrapper ul {
	flex-direction: column;
	gap: 20px;
}
.hamburger-react {
	position: relative;
	z-index: 11111;
}
.hidden {
	display: none !important;
}
.navbar-wrapper ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hamburger-react {
	position: relative;
	z-index: 11111;
	display: none;
}
@media (min-width: 1200px) and (max-width: 1367px) {
	.img-right-banner-mobile img {
		width: 100%;
		height: 460px;
		object-fit: scale-down;
	}
	.position-wrapper img.img-fluid {
		width: 100%;
		height: 400px;
		object-fit: scale-down;
	}
	.img-right-banner-mobile {
		margin-top: 30px;
	}
}

@media (max-width: 912px) {
	.hidden-wrapper {
		display: none;
	}

	.hamburger-react {
		position: relative;
		z-index: 11111;
		display: block !important;
	}
	.navbar-wrapper ul li a {
		padding: 0px 20px;
		font-family: "Poppins-Medium";
		font-size: 18px;
		color: #146dfa;
	}
}
@media (max-width: 576px) {
	section.header {
		padding: 10px;
		position: absolute;
		width: 100%;
	}
	.btn {
		background: #fff !important;
		color: #146dfa !important;
		border-radius: 20px !important;
		width: 100%;
		text-align: center !important;
		padding: 7px 0 !important;
		font-family: var(--medium-font-family) !important;
		font-size: 16px !important;
	}
	.heading-banner {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		height: 100%;
		margin-top: 90px;
	}
	.heading-banner h1 {
		font-size: 25px;
	}
	.heading-banner p {
		font-size: 13px;
	}
	.img-right-banner-mobile img {
		width: 100%;
		height: 230px;
		object-fit: scale-down;
	}
	img.img-fluid.img-wrapper.img-wrpa {
		margin-top: 60px;
	}
	.position-wrapper img.img-fluid {
		width: 100%;
		height: 200px;
		object-fit: scale-down;
	}
	section.form-secs-sec .img-wrapper img {
		width: 80%;
	}
	.position-wrapper {
		position: absolute;
		top: 10px;
		right: -20px;
	}
	.marina-slider-content h2 {
		font-size: 22px;
	}
	.marina-slider-content p {
		font-size: 14px;
	}
	section.application-download-sec {
		padding: 40px 0;
	}
	.play-content {
		padding: 12px 10px;
		gap: 14px;
	}
	.play-wrapper {
		width: 80px;
	}
	.now-playing h4 {
		font-size: 12px;
	}
	.faq-item span {
		font-family: "Poppins-Medium";
		font-size: 13px;
		padding-right: 40px;
	}
	.answer {
		margin-top: 10px;
		color: #000;
		padding: 10px 30px 0 0;
		font-size: 11px;
	}
	.faq-item:after {
		content: "";
		background-image: url(/src/assets/img/arrowfaqs.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center;
		position: absolute;
		right: 20px;
		top: 20px;
		height: 10px;
		width: 18px;
	}
	section.have-a-look-sec {
		padding: 30px 0;
	}
	section.faqs {
		padding: 20px 0;
	}
	.testemonial-content {
		background: #d9d9d9;
		padding: 21px;
		border-radius: 20px;
	}
	section.have-a-look-sec ul.slick-dots {
		left: -7px;
	}
	footer {
		padding: 50px 0;
	}
	.footer-content h3 {
		color: #fff;
		font-size: 21px;
		font-family: "Poppins-Bold";
	}
	.list-url-footer {
		margin-top: 26px;
	}
}
